{
  "env": {
    "browser": true,
    "jest": true,
    "node": false,
    "es6": true,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-named-as-default": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/prop-types": "off",
    "no-debugger": "off",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-trailing-spaces": "warn",
    "max-len": "warn",
    "arrow-body-style": "warn"
  },
  "root": true
}
