:root {
  --rayal-white: white;
  --rayal-right-white: #ECEFF1;
  --rayal-white-sec: #f5f5f5;
  --rayal-white-borders: #A3A3A3;
  --rayal-gray-color: gray;
  --rayol-primary-color: #586E8B;
  --rayol-orange-color: #FF9C01;
  --rayol-dark-red-color: #9C3312;
  --rayal-light-green-color: #01C83E;
  --royal-light-blue: #506177;
  --field-border-radius: 0.04em;
  --border-radius: 0.6em;
  --rayol-on-horver-size: 0.8em;
  --secondary-white: #f4f4f4;
  --border-links-width: 3em;
  --rayal-row-hover: #ECEFF1;
  --rayal-near-white: #FAFAFA;
}